################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WebSockets/.vs
/WebSockets/bin/Debug/net6.0-windows
/WebSockets/obj
/WebSockets/WebSockets.csproj.user
